<footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-2">
          <h5 class="text-uppercase">Centauros Bank</h5>
          <p i18n>
            Confianza y solidez a tu servicio desde 1990. Proporcionamos soluciones financieras que impulsan tu crecimiento.
          </p>
        </div>

        <div class="col-md-6 ">
          <h5 i18n class="text-uppercase">Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="/about" i18n class="text-white text-decoration-none">Sobre Nosotros</a></li>
            <li><a href="/services" i18n class="text-white text-decoration-none">Servicios</a></li>
            <li><a href="/help" i18n class="text-white text-decoration-none">Ayuda</a></li>
            <li><a href="/contact" i18n class="text-white text-decoration-none">Contáctanos</a></li>
          </ul>
        </div>
      </div>
      <hr class="border border-white">
      <div class="text-center py-3">
        <p i18n> © 2024 Centauros Bank. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  