<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5cb6b6;">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="logo.png" alt="Logo" style="height: 40px; margin-right: 10px;">
        <span i18n style="font-size: 20px; font-weight: bold; text-decoration: underline;">Centauros Bank</span>
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a i18n class="nav-link text-dark" style="cursor: pointer;" (click)="Login()">Inicio Sesion</a>
          </li>
          <li class="nav-item">
            <a i18n class="nav-link text-dark" style="cursor: pointer;" (click)="Register()">Registrarse</a>
          </li>
  
          
          <li class="nav-item dropdown">
            <a i18n class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a i18n class="dropdown-item" style="cursor: pointer;" (click)="Solicitud()">Solicitud de producto</a></li>
              <li><a i18n class="dropdown-item" style="cursor: pointer;" (click)="Crear()">Creacion de Productos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  