<div class="container mt-5">
    
    <div class="row align-items-center" style="background-color: #bce4e4; padding: 30px; border-radius: 8px;">
        <div class="col-md-6">
            <h2 i18n class="text-center">Nosotros</h2>
            <p i18n style="font-size: 18px; text-align: justify;">
                Únase a nosotros en Centauros Bank, donde creemos que la gestión de sus finanzas debe ser tan sólida y
                duradera como nuestro homónimo.
                Juntos, lo ayudaremos a tomar decisiones inteligentes que permitan que sus recursos prosperen en
                cualquier entorno.
            </p>
        </div>
        <div class="col-md-6">
            <div id="aboutCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="credito.jpg" class="d-block w-100" alt="Imagen 1">
                    </div>
                    <div class="carousel-item">
                        <img src="moneda.jpg" class="d-block w-100" alt="Imagen 2">
                    </div>
                    <div class="carousel-item">
                        <img src="tarjeta.png" class="d-block w-100" alt="Imagen 3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev"> 
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                    <span class="visually-hidden">Anterior</span> </button> 
                    <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next"> 
                    <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                    <span class="visually-hidden">Siguiente</span> 
                </button>
            </div>
        </div>
    </div> 
    <div style="margin-bottom: 150px;" class="text-center mt-5">
        <p i18n style="font-size: 18px; text-align: justify;"> Con un enfoque en la seguridad, la transparencia y la
            satisfacción del cliente, Centauros Bank combina tecnología bancaria digital avanzada con un toque humano.
            Nuestro equipo de expertos financieros se dedica a guiarlo a través de sus opciones, asegurándose de que
            tenga las herramientas y el conocimiento para tomar decisiones informadas. </p>
    </div>
    
</div>